#app {
  display: flex;
  justify-content: center;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #303030;
  color: #d7dfe2;
  margin-top: 5px;
}

#app header {
  max-width: 100%;
  margin: 1rem 0;
}
header h4 {
  text-align: left;
  margin: 0.5rem 0.4rem;
  color:#d7dfe2;
}

.dashboard {
  width: 100%;
}
.dashboard__row {
  display: flex;
  align-items: center;
  margin: 40px 20px;
}
.dashboard__inputrow {
  display: flex;
}
.dashboard__row > * {
  flex: 1;
}
